<header>
    DJANGO APP
</header>
<nav>
    <ul>
        <li><a href="/admin/">Ir al panel de admin</a></li>
        <li><a href="/hi/Brico/">Index</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'projects' %}">Proyectos</a></li>
        <li><a href="{% url 'create_new_project' %}">Crear nuevo proyecto</a></li>
        
    </ul>
</nav>

{% block content %}

{% endblock  %}

<footer>
    <h4>
        Se desarrollo con tecnología de django. 🐍
    </h4>
</footer> 