{% extends "layout/base.html"%}

{% block  content%}
<h1>
    Hola {{username}}
</h1>

<p>
    Ex est incididunt sint aliqua ut do elit nostrud ipsum culpa cillum eu in nisi. Dolor et nisi anim eu mollit mollit tempor sunt id consequat. Velit elit consectetur ad ea duis Lorem consectetur officia cillum enim. In adipisicing eiusmod laborum enim exercitation proident esse dolore aute nostrud irure. Sit mollit ut ad veniam est enim do eu mollit ad duis dolor occaecat. Amet nostrud officia aliquip velit laborum qui do enim tempor minim elit ea. Dolore aliquip eiusmod officia quis laboris duis enim irure exercitation ex in magna.
Ex duis sint do labore ut mollit. Veniam ad Lorem dolor dolore eu eiusmod duis incididunt aliquip veniam in nisi. Officia consequat sunt duis incididunt proident nostrud dolor fugiat. Occaecat voluptate culpa cupidatat ullamco dolore enim anim. Reprehenderit sint exercitation sunt mollit ex laborum enim deserunt Lorem sunt reprehenderit sunt exercitation nulla.
</p>
{% endblock  %}
